<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>


 <div id="wrapper">

        <!-- Sidebar -->
          {% include 'nav.html' %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                          {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>  
</body>
</html>
