{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="js/login.js"></script>
<form method="post" action="/login">
<input type="text" name="nombre">
	<input type="submit" value="cucu">
</form>
{% endblock %}
